/*--------------------------------------
|	             GENERAL			   |
----------------------------------------*/
* {
	-webkit-font-smoothing: antialiased; /* Safari */
	-moz-osx-font-smoothing: grayscale; /* Safari */
	box-sizing: border-box;
}


body{
	cursor: default;
	background-color: rgb(42, 42, 42);
  	color: white;
	
}

h1{
    text-align: center;
	font-family: Georgia, serif;
	color: #e06c29;  /* fallback for old browsers */
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

strong{
	text-align: center;
	font-family: Georgia, serif;
}

a {
	position: relative;
	color: rgb(211, 187, 187);
	text-decoration: none;
}
  
a:hover {
	transition: 0.5s;
	color: rgb(117, 107, 107);
}

a::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: rgb(117, 107, 107);
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

a:hover::before {
	transform: scaleX(1);
}

/*--------------------------------------
|	             NAVBAR				   |
----------------------------------------*/
ul {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	filter: blur(0.5px);
	-webkit-filter: blur(0.5px); /* Safari */
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	opacity: 0.9;
	z-index: 1;
	transition: 0.5s;
}
ul:hover{
	opacity: 1;
	transition: 0.5s;
	filter: blur(0px);
	-webkit-filter: blur(0px); /* Safari */
	
}
li {
 	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px 18px;
}
li a:hover {
	transition: 1s;
	background-color: #111;
	filter: blur(0px);
	-webkit-filter: blur(0px); /* Safari */
}

/*--------------------------------------
|	          FOTO PROFILO			   |
----------------------------------------*/
#imageGallery{
	margin: 8px;
	box-shadow:  0 4px 8px 0 #333, 0 6px 20px 0 #333; 
	border-radius: 25px;
	width: 350px;
	max-width: 100%;
	height: auto;
	transition: 1s;
	
	animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1; /*indica quante volte va eseguita l'animation*/
    animation-fill-mode: forwards;
}
#nome{
	animation: TitleAnimation ease 3s;
    animation-iteration-count: 1; /*indica quante volte va eseguita l'animation*/
    animation-fill-mode: forwards;
	margin-top: 200px;
	font-family: Georgia;
}

#l1:hover{
	animation: shake ease 3s;
	transform               : rotateY(360deg);
	-moz-transform          : rotateY(360deg);
	-webkit-transform       : rotateY(360deg);
	transform-origin        : center;
	-moz-transform-origin   : center;
	-webkit-transform-origin: center;
	transition: 1s;
}

@keyframes TitleAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
		transform: scale(0.1);
    }
    100% {
        opacity: 1;
		transform: scale(1);
     }
}
/*--------------------------------------
|	              Titles			   |
----------------------------------------*/
#who, #study, #work, #projects{
	margin-top: 400px;
}


/*--------------------------------------
|	            Timeline			   |
----------------------------------------*/

.main-timeline {
    position: relative;
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative;
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both;
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s;
}

.main-timeline .icon:before {
    background: #fff;
    border: 2px solid #232323;
    left: -3px;
}

.main-timeline .icon:after {
    border: 2px solid #c6c6c6;
    left: 3px;
}

.main-timeline .timeline:hover .icon:before {
    left: 3px;
}

.main-timeline .timeline:hover .icon:after {
    left: -3px;
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative;
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1;
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s;
}

.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px;
}

.main-timeline .date-outer:after {
    border: 2px solid #c6c6c6;
    left: 6px;
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px;
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px;
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0;
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700;
	color: #232323;
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px;
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right;
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0;
}

.main-timeline .description {
    margin-bottom: 0;
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right;
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right;
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px;
    }
    .main-timeline .date-content:before {
        width: 22.5%;
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px;
    }
    .main-timeline .title {
        font-size: 17px;
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0;
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px;
    }
    .main-timeline .timeline {
        margin-bottom: 20px;
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0;
    }
    .main-timeline .icon {
        margin: auto 0;
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0;
    }
    .main-timeline .date-content:before {
        display: none;
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px;
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px;
    }
    .main-timeline .date {
        top: 30%;
    }
    .main-timeline .year {
        font-size: 24px;
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0;
    }
    .main-timeline .title {
        margin-bottom: 10px;
    }
}

/*--------------------------------------
|	             projects bar		   |
----------------------------------------*/
#projects table {
	padding: 10px;
}

#projects td {
	padding: 15px 5px 5px 10px;
	text-align: center;
}

#projects p {
	padding-top: 20px;
}

/*--------------------------------------
|	            Esami			       |
----------------------------------------*/
#study table{
	width: 100%;
	border: 1px solid black;
}
#study th{
	text-align: center;
}

#study td{
	border: 1px solid black;
	padding: 4px 4px 4px 10px;
}

.tab {
	overflow: hidden;
	border-radius: 10px;
	border: 3px solid rgb(65, 61, 61);
	background-color: none;
	width: 500px;
	margin: auto;
}
  
  /* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
	font-weight: 700;
	color: rgb(190, 114, 114);;
}
  
  /* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}
  
  /* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}
  
  /* Style the tab content */
.tabcontent {
	width: 500px;
	margin: auto;
	display: none;
	padding: 6px 12px;
	border-top: none;
}

/*--------------------------------------
|	            Torna su			   |
----------------------------------------*/
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 1;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #333;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
	opacity: 0.8;
	height: 50px;
}
  
#myBtn:hover {
	opacity: 1;
	background-color: #555;
}

/*--------------------------------------
|	            change mode			   |
----------------------------------------*/
.setting {
	position: fixed;
  	bottom: 20px;
  	left: 30px;
	z-index: 1;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #333;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
	opacity: 0.8;
	height: 50px;
}
.setting:hover{
	opacity: 1;
	background-color: #555;
}

.setting:active {
	background-color: #222;
}

.setting-content {
	display: none;
	position: fixed;
	bottom: 80px;
	left: 30px;
	z-index: 3;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #333;
	color: white;
	padding: 15px;
	border-radius: 4px;
	height: 220px;
	width: 200px;
}

.setting-content table {
	display: block;
}

.setting :hover {background-color: #ddd;}

.show {display: block;}

#thememode, #thememode1, #thememode2{
	z-index: 3;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #888;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
	opacity: 0.8;
	height: 50px;
}
#thememode:hover, #thememode1:hover, #thememode2:hover{
	opacity: 1;
}
#thememode1:hover{
	color: yellow;
}
#thememode2:hover{
	color: rgb(49, 42, 78);
}
#thememode2:focus{
	color: rgb(49, 42, 78);
}


.invert-color {
	transition: 1s;
	background-color: white;
	color: rgb(42, 42, 42);
	
}

/*--------------------------------------
|	              Footer			   |
----------------------------------------*/
footer{
	height: 180px;	
	bottom: 0px;
	width: 100%;
	background-color: #333;
	color: white;
	text-align: center;
	position: static;
	margin-top: 300px;
	z-index: 1;
}
footer img{
	transition: 1s;
	opacity: 0.8;
	position: relative;
	max-width: 100%;
	height: auto;
}
footer img:hover{
	transition: 1s;
	opacity: 1;
	transform: scale(1.1);
}

/* width */
::-webkit-scrollbar {
	width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
	
  }


/*--------------------------------------
|	   Visualizzazione da telefono	   |
----------------------------------------*/
@media only screen and (max-width: 620px) {
	/* For mobile phones: */
	footer, table{
	  	position: static;
	}
	li a{
	  	padding: 2px, 2px;
	}
	#imageGallery{
		width: 250px;
	}
	.tab, .tabcontent{
		width: 400px;
	}
}
@media only screen and (max-width: 436px) {
	/* For mobile phones: */
	#fingerprint{
		display: none;
	}
	#imageGallery{
		width: 220px;
	}
	.tab, .tabcontent{
		width: 350px;
	}
}
@media only screen and (max-width: 376px) {
	/* For mobile phones: */
	#school{
		display: none;
	}
	#imageGallery{
		width: 200px;
	}
	.tab, .tabcontent{
		width: 300px;
	}
}