@use "resolution" as *;

.navbar {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--navbar-bg);
  filter: blur(0.5px);
  -webkit-filter: blur(0.5px); /* Safari */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  opacity: 0.9;
  z-index: 1;
  transition: 0.5s;

  &:hover {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); /* Safari */
  }
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: var(--navbar-text);
  text-align: center;
  padding: 16px 18px;

  &:hover {
    transition: 1s;
    background-color: #111;
    filter: blur(0px);
    -webkit-filter: blur(0px); /* Safari */
  }

  i {
    font-size: 24px;
  }

  &:hover i {
    font-size: 26px;
  }
}

#school {
  padding-right: 20px;
}

.right {
  float: right;
}
