@use "resolution" as *;

.servicesContainer {
    text-align: center;
    padding: 50px 20px;
  }
  
  .title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: var(--primary);
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
  }
  
  .servicesGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .serviceCard {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .serviceCard:hover {
    transform: translateY(-5px);
  }
  
  .serviceCard i {
    font-size: 40px;
    color: #ff5733;
    margin-bottom: 10px;
  }
  
  .serviceCard h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .serviceCard p {
    font-size: 1rem;
    color: #555;
  }

  .contactButton {
    background-color: var(--accent);
    color: var(--light);
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px var(--shadow);
    margin-top: 15px; /* Aggiunge spazio tra il testo e il bottone */
    display: inline-block; /* Evita che si allarghi troppo */
  
    &:hover {
      background-color: var(--hero-button-hover);
      transform: translateY(-2px);
    }
  }
  